* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);

}

#topmenu{
    display: flex;
    
   

}
#topmenu li{
    color: azure;
    text-decoration: none;
    display: flex;
    padding: 25px;
   
   
}
#topmenu li:first-child{
    margin-right: auto;
}
