* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);

}


.oi>p {
    display: none;


}

.oi:hover>p {

   display:grid;
    color: white;

}

.conteudo {
    border-top: 0.4px solid;
    color: azure;
}

.nav-menu {
    padding: 10px;
    width: 100%;
    height: 100px;
    margin-right: 10em;
    display: flex;
    flex-direction: top;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;

}

#eu {
    padding: 15px;
    display: flex;

}



.div-imagem {
    padding: 1em;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-around;



}

.foto {

    padding: 1em;
    border-radius: 10px;

}

.foto-segundaria {
    border-radius: 10px;

}




.fim {

    color: azure;
    margin: 2.8em;
    padding-top: 6em;
    text-align: center;
    color: azure;
}